<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.8">
        <title>youtube Mobile</title>
        <script src="https://kit.fontawesome.com/b593be6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/test.css">
        <script src="./js/test.js" defer></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <i class="fab fa-youtube"></i>
                <span class="title">Youtube</span>
            </div>
            <div class="icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </header>

        <!-- Video Player -->
        <section class="player">
           <video controls src=""></video>
        </section>

        <div class="infoAndUpNext">
            <!-- video Info -->
            <section class="info">
                <div class="metadata">
                    <ul class="hashtags">
                        <li>#게임</li>
                        <li>#사이퍼즈</li>
                        <li>#AOS</li>
                    </ul>
                    <div class="titleAndButton">
                        <span class="title clamp">
                            교차 편집된 게 무슨 자문자답하는 거 같이 이어져서 뻘하게 터짐ㅋㅋㅋㅋㅋ 역시 크로니는 내추럴 본 코미디언이야...!! 일상이 코미디라고...!!!교차 편집된 게 무슨 자문자답하는 거 같이 이어져서 뻘하게 터짐ㅋㅋㅋㅋㅋ 역시 크로니는 내추럴 본 코미디언이야...!! 일상이 코미디라고...!!!교차 편집된 게 무슨 자문자답하는 거 같이 이어져서 뻘하게 터짐ㅋㅋㅋㅋㅋ 역시 크로니는 내추럴 본 코미디언이야...!! 일상이 코미디라고...!!!
                        </span>
                        <button class="moreBtn">
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </div>
                    <span class="views">1M views 1 month ago</span>
                </div>
                <ul class="actions">
                <li><button><i class="fas fa-thumbs-up active"></i><span>1K</span></button></li>
                <li><button><i class="fas fa-thumbs-down"></i><span>0</span></button></li>
                <li><button><i class="fas fa-share"></i><span>Share</span></button></li>
                <li><button><i class="fas fa-plus"></i><span>Save</span></button></li>
                <li><button><i class="fab fa-font-awesome-flag"></i><span>Report</span></button></li>
                </ul>
                <div class="channel">
                    <div class="metadata">
                        <img src="./img/cute.jpg" alt="">
                        <div class="info">
                            <span class="name">jehun</span>
                            <span class="subscribers">1M subscribers</span>
                        </div>
                    </div>
                    <button class="subscribe">subscribe</button>
                </div>
            </section>

            <!-- Up Next -->
            <section class="UpNext">
                <span class="title">Up next</span>
                <ul>
                    <li class="item">
                        <div class="img">
                            <img src="./img/face.jpg" alt="">
                        </div>
                        <div class="info">
                            <span class="title">당당한 크로니의 얼굴을 보니 실패</span>
                            <span class="channel">jehun</span>
                            <span class="views">32k views</span>
                        </div>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </li>
                    <li class="item">
                        <div class="img">
                            <img src="./img/prev.png" alt="">
                        </div>
                        <div class="info">
                            <span class="title">으아아앙!</span>
                            <span class="channel">jehun</span>
                            <span class="views">1k views</span>
                        </div>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </li>
                    <li class="item">
                        <div class="img">
                            <img src="./img/after.png" alt="">
                        </div>
                        <div class="info">
                            <span class="title">응???</span>
                            <span class="channel">jehun</span>
                            <span class="views">2k views</span>
                        </div>
                        <button class="moreBtn">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </li>
                </ul>
            </section>

        </div>
       
    </body>
</html>


<!-- fab fa-youtube
fas fa-search
fas fa-ellipsis-v
fas fa-caret-down
fas fa-thumbs-up
fas fa-thumbs-down
fas fa-share
fas fa-plus
fab fa-font-awesome-flag -->