<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../public/css/main.css">
        <script src="https://kit.fontawesome.com/b593be6e34.js" crossorigin="anonymous"></script>
        <script src="main.js" defer></script>

        <title>Hello, world!</title>
    </head>
    <body>
        <!-- header -->
        <header>
            <div class="navbar__logo">
                <i></i>
                <a href="" class="title">Main</a>
            </div>
            <div class="navbar__menu">
                <ul class="menu_item">
                    <li><a href="">게시판</a></li>
                    <li><a href="">채팅방</a></li>
                    <li><a href="">영어 공부방</a></li>
                    <li><a href="">게임방</a></li>
                    <li><a href="">게임 서버</a></li>
                </ul>
            </div>
            <div class="navbar__login">
                <button class="loginBtn">
                    Login
                </button>
            </div>
            
        </header>
    </body>
</html>