<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/test.css">
    <script src="https://kit.fontawesome.com/b593be6e34.js" crossorigin="anonymous"></script>
    <script src="../public/test.js" defer></script>
  </head>
  <body>

    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fa-brands fa-drupal"></i>
            <a href="">Example Page</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="">게시판</a></li>
            <li><a href="">채팅방</a></li>
            <li><a href="">영어</a></li>
            <li><a href="">게임방</a></li>
            <li><a href="">게임 서버</a></li>
        </ul>
        <ul class="navbar__icons">
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
      
  </body>

</html>