<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="./css/slide2.css">
    </head>
    <body>
        <div class="section">
            <input type="radio" name="slider"  id="slide01">
            <input type="radio" name="slider"  id="slide02">
            <input type="radio" name="slider"  id="slide03">

            <div class="slidewrap">
                <div class="remote">
                    <!-- <a href="#"> -->
                        <label for="slide01">2</label>
                        <label for="slide02">3</label>
                        <label for="slide03">4</label>
                    <!-- </a> -->
                </div>
                <ul class="slidelist">
                    
                    <li>
                        <ul>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 1.jpg" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 2.jpg" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 3.jpg" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 4.jpg" alt="">
                            </div>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 5.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 6.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 7.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 8.png" alt="">
                            </div>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 5.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 6.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 7.png" alt="">
                            </div>
                            <div>
                                <img class="slide" src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 8.png" alt="">
                            </div>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </body>
</html>