<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="./css/slide.css">
    </head>
    <body>
        <div class="section">
            <input type="radio" name="slider"  id="slide01" checked>
            <input type="radio" name="slider"  id="slide02">
            <input type="radio" name="slider"  id="slide03">

            <div class="slidewrap">
                <ul class="slidelist">
                    <li>
                        <a>
                            <label for="slide03" class="left">
                                <!-- <img src="./img/left.png" alt=""> -->
                            </label>
                            <img src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 1.jpg" alt="">
                            <label for="slide02" class="right">
                                <!-- <img src="./img/right.png" alt=""> -->
                            </label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide01" class="left"></label>
                            <img src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 2.jpg" alt="">
                            <label for="slide03" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide02" class="left"></label>
                            <img src="../public/img/main/sider-exhibitor/G-STAR Exhibitor 3.jpg" alt="">
                            <label for="slide01" class="right"></label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>