{% extends 'layout.html' %}

{% block content %}
    <div class="board_content">
        <table class="board">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        제목
                    </th>
                    <th>
                        작성자
                    </th>
                    <th>
                        조회수
                    </th>
                    <th>
                        추천
                    </th>
                    <th>
                        작성일
                    </th>
                </tr>
            </thead>
        </table>
        <div class="search">
            <div class="search">
                <select class="search_type" id="search_selecter" autofocus>
                    <option value="title">제목</option>
                    <option value="nick">작성자</option>
                    <option value="comment">댓글</option>
                </select>
                <input class="search_value button" id="search_input" type="text"/>
                <button class="search_button button" id="search_btn">검색</button>
                <button onclick="location.href='/board/write'">게시글 작성</buttonhref=>
            </div>
        </div>
    </div>
{% endblock %} 


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        
        axios.get('/board/getBoardAll')
            .then((boards) => {
                // console.log(boards);
                makeBoard(boards.data); 
            })
            .catch((err) => {
                
            })

        function makeBoard(boards) {
            if (document.querySelector('#board_body')) {
                document.querySelector('#board_body').remove();
            }
            let tbody = document.createElement('tbody');
            tbody.id = "board_body";
            document.querySelector('.board').appendChild(tbody);
            
            for (var board of boards) {
                let tr = document.createElement('tr');
                let td = document.createElement('td');
                td.textContent = board.id;
                tr.appendChild(td);
                td = document.createElement('td');
                let link = document.createElement('a');
                link.href = '/board/read/'+board.id;
                link.id = 'board_id_'+board.id;
                link.textContent = board.title;
                
                td.appendChild(link);
                // td.id = 'post_id_'+post.id;
                // td.textContent = post.title;
                // td.addEventListener('click', function() {
                //     console.log('눌러짐');
                // })

                tr.appendChild(td);
                td = document.createElement('td');
                td.id = 'board_nick_'+board.nick;
                td.textContent = board.User.nick;
                tr.appendChild(td);
                td = document.createElement('td');
                td.id = 'board_id_'+board.id;
                td.textContent = board.viewCount;
                tr.appendChild(td);
                td = document.createElement('td');
                td.textContent = board.likeCount;
                tr.appendChild(td);
                td = document.createElement('td');
                var now = moment(board.createdAt.toString());
                td.textContent = now.format("YY/MM/DD").toString();
                tr.appendChild(td);
                tbody.appendChild(tr);
            }
        }

        document.querySelector('#search_btn').addEventListener('click', function() {
            //버튼이 클릭되면 검색 대상과 값을 가지고 찾는다.
            const type = document.getElementById('search_selecter').value;
            const value = document.getElementById('search_input').value;
            if (value = ' ') {
                alert('검색 내용을 적어주세요');
            } else {
                search(type, value);
            }
        });
        
        function search(type, value) {
            value = value.trim();
            axios.get('/board/search')
                .then((data) => {
                    //
                })
                .catch((err) => {
                    
                })
        }

    </script>
{% endblock %}