{% extends 'layout.html' %}

{% block content %}
    <input type="hidden" value="{{userId}}" id="userId">
    <input type="hidden" value="{{board.userId}}" id="writerId">
    <input type="hidden" value="{{board.id}}" id="boardId">
    <div class="board">
        <span>id: </span>
        <label>{{board.id}}</label><br><br>
        <span>title: </span><span></span><br>
        {{board.title}}
        <br>
        <br>
        <div class="side_data_warp">
            date: {{board.createdAt}}
            <br>
            view: <span>{{board.viewCount}} </span> 
            <br>
            like: <span id="like">{{board.likeCount}} </span> 
            <button class="delete" id="board-like-btn" >좋아요</button>
            <br>
            hate: <span id="hate">{{board.hateCount}} </span> 
            <button class="delete" id="board-hate-btn" >싫어요</button>
        </div>
        <br>
        content : <br> <br>  {{board.content}}
        <!-- <ㅅㄷㅌㅅ class="content" rows="5" cols="33" id="content"></ㅅ> -->
        <br>
        <br>
        <section class="board_writer_btn">
            <button class="btn" id="board-update-btn" onclick="location.href='/board/update/{{board.id}}'">수정</button>
            <button class="btn" id="board-delete-btn" onclick="location.href='/board/delete/{{board.id}}'">삭제</button>

        </section>

        {{user}}
        <div class="comment_warp">
            <div class="comment_input_warp">
                <div class="comment_content">
                    <input type="text" id="comment_inpud">
                </div>
                <div class="comment_btn_warp">
                    <button class="comment_btn_write">write</button>
                    <button class="comment_btn_cancel">cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        const userId = document.querySelector('#userId').value;
        const writerId =  document.querySelector('#writerId').value;
        const boardId =  document.querySelector('#boardId').value;
        const writerBtn = document.querySelector('.board_writer_btn');
        const comment_input = document.querySelector('.comment_input_warp');
        writerBtn.style.visibility = "hidden";
        comment_input.style.visibility = "hidden";
        if (userId) {
            if (userId == writerId) {
                writerBtn.style.visibility = "visible";
            }
            comment_input.style.visibility = "visible";
        }

        window.addEventListener('load', () => {
            axios.get('/board/comment/'+boardId)
            .then((res) => {
                makeComment(res.data);
            })
            .catch((err) => {
                alert(err);
            })
        });

        function makeComment(comments) {
            if (comments) {
                if (document.querySelector('.comments')) {
                    document.querySelector('.comments').remove();
                }
                let commentsElement = document.createElement('comments');
                commentsElement.className = 'comments';
                document.querySelector('.comment_warp').appendChild(commentsElement);

                for (var comment of comments) {
                    let p = document.createElement('p');
                    let a = document.createElement('a');
                    let userNick = document.createElement('span');
                    userNick.textContent = comment.User.nick;
                    a.appendChild(userNick)
                    p.appendChild(a);
                    let commentId = document.createElement('input');
                    commentId.value = comment.id;
                    commentId.type = 'hidden';
                    p.appendChild(commentId);
                    let content = document.createElement('spna');
                    content.textContent = comment.content;
                    p.appendChild(content);
                    let date = document.createElement('span');
                    date.textContent = comment.createdAt;
                    p.appendChild(date);
                    let deleteBtn = document.createElement('button');
                    deleteBtn.textContent = 'X';
                    deleteBtn.onclick = () => {
                        deleteComment(commentId.value);   
                    }
                    p.appendChild(deleteBtn);
                    commentsElement.appendChild(p);
                }
            }
        }

        document.querySelector('.comment_btn_write').addEventListener('click', (e) => {
            e.preventDefault();
            const content = document.querySelector('#comment_inpud').value;
            const data = { boardId, content }; 
            axios.post('/board/comment', data)
                .then((res) => {
                    // 댓글 재 갱신 함수 필요.
                    document.querySelector('#comment_inpud').value = '';
                    makeComment(res.data);
                })
                .catch((err) => {
                    alert(err.response.data);
                })
        })

        document.querySelector('.comment_btn_cancel').addEventListener('click', (e) => {
            e.preventDefault();
            document.querySelector('#comment_inpud').value = '';
        })

        function deleteComment(id) {
            const boardId =  document.querySelector('#boardId').value;
            const data = { boardId, id };

            axios.post('/board/comment/delete', data)
            .then((res) => {
                makeComment(res.data);
            })
            .catch((err) => {
                console.log(err);
                alert(err.response.data)
            }) 
        }

        document.querySelector('#board-like-btn').addEventListener('click',  () => {
            const userId = document.querySelector('#userId').value
            const boardId = document.querySelector('#boardId').value
            const writerId = document.querySelector('#writerId').value

            if (userId === writerId) {
                alert('작성자 본인의 글에 좋아요를 누를수 없습니다.')
            }
            
             axios.get('/board/like/' + boardId)
            .then((res) => {
                document.querySelector('#like').textContent = res.data;
            })
            .catch((err) => {
                alert(err.response.data);
            })
        })
        document.querySelector('#board-hate-btn').addEventListener('click', () => {
            const userId = document.querySelector('#userId').value
            const boardId = document.querySelector('#boardId').value
            const writerId = document.querySelector('#writerId').value

            if (userId === writerId) {
                alert('작성자 본인의 글에 좋아요를 누를수 없습니다.')
            }

             axios.get('/board/hate/'+boardId)
            .then((res) => {
                document.querySelector('#hate').textContent = res.data;
            })
            .catch((err) => {
                alert(err.response.data);
            })
        })
        // document.querySelector('#board-update-btn').addEventListener('click', function(e) {
        //     e.preventDefault();
        //     const boardId = document.querySelector('#boardId');
        //     const data = { title, content };
        //     axios.get(`/board/update/:`+ boardId)
        //         .then((data) => {;.
        //             location.href='/board';
        //         })
        //         .catch((err) => {       
        //             console.error(err);
        //         })
        // });
    </script>
{% endblock%}