{% extends 'layout.html' %}

{% block content %}
    <section class="penel_wrap">
      <div class="email_pw_input_row">
          <input type="text" class="input_row" placeholder="Email"/>
          <input type="password" class="input_row" placeholder="password"/>
      </div>
      <div class="login__buttons">
        <button class="loginBtn button">Login</button>
        <button class="joinBtn button">Join</button>
      </div>
    </section>
{% endblock %}


{% block css %}
  <!-- <link rel="stylesheet" href="css/main.css"> -->
{% endblock %}
